* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  color: #252525;
  line-height: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  /* display: inline; */
}



h4 {
  display: inline;
}

.daddy {
  overflow: hidden;
  border-right: solid rgb(203, 15, 93);
  white-space: nowrap;
  animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
  color: #000;
  font-family: ambroise-std;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 0.9em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(203, 15, 93);
  }
}

/* .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  } */

/* div ol{
    border: 4px solid salmon
  } */

.card{
  width: 22rem;
}

 
 
 

.tennisTable {
  align-items: center;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
   
 
}
.MePhotoBox {
  
  max-width: 290px;
height:490px;
   
  position: relative;
}

.aboutMe {
  /* left:2%;  */

  width: 55%;
  position: relative;

  /* top:5.8vw; */
  /* z-index: 1; */
  /* flex-grow: 2 */

  
}
.MePhoto {
  width: 100%;
height :100%;
  /* height:77vh; */
  /* max-height: 35em; */

  margin: 0;

  /* position: relative; */
  /* right:77px; */
  /* left:1084px;  */
  /* width:24%; */
  z-index: 2;
}

 

.GitEmail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 35%;
  height: 20%;
  /* border: 4px peru; */
}
.HeadFont img {
  background-color: #FAEBD7;
  border-radius: 50%;
  width: 15%;
  height: 18%;
}
.HeadFont img:hover {
  transform: scale(1.2);
}

i {
  transform: scale(2);
}

.HeadFont {
  font-size: 3em;
}

.ProjectsTitle {
  text-align: center;
  
  margin-top:100px;

}
.BigProjectsTable {
  width: 100vw;
  /* height: 250vh; */
  /* top:85vh; */

  /* border:4px solid yellow; */
  display: flex;

  flex-direction: column;
}
.ProjectsContainer {
  display: flex;
 
  flex-direction: column-reverse;
  align-items: center;

  width: 100%;

}

.GoalHeroLeft {
  margin:2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   
}
 
.GoalHeroText {
  width: 70%;
  /* margin: auto; */
  font-size: 1.5rem;
  
}
.GoalHeroDemo {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.ProjectsContainer a {


  font-size: 1.2em;
   
 

 


  border: 3px solid black;
  border-radius: 2%;

  text-decoration: none;
  color: black;
  margin: 20px;
  padding: 5px;








}
 

 
.AboutMeContaniner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  width: 100vw;
}
.IntroLeft {
  width: 20vw;

  /* border:4px solid burlywood; */
}

.IntroRight {
  width: 80vw;
  font-size:  1.5rem;
  /* border:4px solid burlywood; */
}
.IntroLeft img {
  width: 100%;

  border-radius: 4%;
}

 

header {
  top: 0px;
  display: flex;
  position: fixed;
  margin: 0 4em;
  padding: 10px;
  width: calc(100vw - 8em);
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 3;
  opacity: 0;
  transform: translateY(-4em);
  transition: opacity 0.25s, transform 0.5s;
}

header.active {
  transform: translateY(0);
  opacity: 1;
}

header .logo {
  flex-grow: 1;
  padding-top: 0.25em;
}
header .logo img {
  width: 8em;
}
header nav {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a,
.logo a {
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.nav-item a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

.TechnologiesContainer {
  margin: auto;
 
  font-size: 1.5rem;
  width: 70vw;
  
}
.TechnologiesContainer a {
  font-size: 2vw;
  font-weight: bold;
  border: 4px solid black;
  border-radius: 2%;
  /* height: 36px; */
  text-decoration: none;
  color: black;
  margin: 20px;
  padding: 10px;
}
.TechnologiesContainer a:hover {
  background-color: black;
  color: white;
}

.ContactContainer {
  width: 80vw;
 margin:auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}
.ContactContainer label {
  display: block;
  font-size: 33px;
  margin-top: 66px;
}
 
 

#inputName {
  /* border:3px solid peru; */
  width: 250px;
  height: 40px;
}

#inputMessage {
  /* border:3px solid peru; */
  width: 500px;
  height: 250px;

  font-size: 18px;
  color: #333;
  font-family: sans-serif;
  position: relative;
}
#inputEmail {
  width: 250px;
  height: 40px;
  /* border:3px solid peru; */
}


@media screen and (max-width: 786px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
h2{
  font-size: 1.1em;
}
.GoalHeroText {
  font-size: 1rem;
}
.IntroRight{
  font-size: 1rem;
}
.HeadFont{
  font-size:2rem

}
 
}